# FODS Assignment 1

READING AND WRITING DIFFERENT TYPES OF DATASETS: Reading different types of data sets such as .txt, .csv, .xml from Web and disk and writing in file in specific disk location. Get familiar with dataset

Reading csv from url and system

In [2]:
import pandas as  pd

In [3]:
df_csv = pd.read_csv("iris.csv")

In [4]:
print(df_csv)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [9]:
df = pd.DataFrame({
    'sepal_length': [5.1, 4.9, 4.7],
    'sepal_width': [3.5, 3.0, 3.2],
    'petal_length': [1.4, 1.4, 1.3],
    'petal_width': [0.2, 0.2, 0.2],
    'species': ['setosa', 'setosa', 'setosa']
})
#specify the file path 
file_path = "IRIS_Output.csv"

#write dataframe to a CSV file
df.to_csv(file_path,index=False)

print(f"DataFrames Written to {file_path}")

DataFrames Written to IRIS_Output.csv

In [10]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
df = pd.read_csv(url, header=None, names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
print(df.head())

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Reading XML file

In [12]:
import xml.etree.ElementTree as ET

# Load the XML file
tree = ET.parse("ass1.xml")  # Corrected the extension to .xml
root = tree.getroot()

# Print the root element
print(root)

<Element 'people' at 0x0000017A5BA57F60>

In [13]:
import xml.etree.ElementTree as ET

# Load the XML file
tree = ET.parse("catlog.xml")
root = tree.getroot()

# Iterate over all the CD elements and print the data
for cd in root.findall('CD'):
    title = cd.find('TITLE').text
    artist = cd.find('ARTIST').text
    country = cd.find('COUNTRY').text
    company = cd.find('COMPANY').text
    price = cd.find('PRICE').text
    year = cd.find('YEAR').text

    print(f"Title: {title}, Artist: {artist}, Country: {country}, Company: {company}, Price: {price}, Year: {year}")

Title: Thriller, Artist: Michael Jackson, Country: USA, Company: Epic, Price: 10.90, Year: 1982
Title: The Dark Side of the Moon, Artist: Pink Floyd, Country: UK, Company: Harvest, Price: 15.99, Year: 1973
Title: Back in Black, Artist: AC/DC, Country: Australia, Company: Atlantic, Price: 12.99, Year: 1980
Title: The Beatles, Artist: The Beatles, Country: UK, Company: Apple, Price: 14.99, Year: 1968
Title: Rumours, Artist: Fleetwood Mac, Country: USA, Company: Warner Bros., Price: 11.99, Year: 1977

Reading and writing in .txt files

In [17]:
file_path = "ass1.txt"

with open(file_path, "r") as file:
    data = file.readlines()
for line in data:
    name, age = line.strip().split(',')
    print(f"Name: {name.strip()}, Age: {age.strip()}")

Name: Aniket, Age: 20
Name: Tejas, Age: 21
Name: Devashish, Age: 19
Name: Aditya, Age: 22
Name: Ojas, Age: 20
Name: Rohit, Age: 21
Name: Tejas, Age: 21
Name: Devashish, Age: 19
Name: Aditya, Age: 22

In [18]:
new_entry = "Omkar, 23"
data.append(f"{new_entry}\n")

with open(file_path, "w") as file:
    file.writelines(data)

print("\nUpdated data:")
for line in data:
    name, age = line.strip().split(',')
    print(f"Name: {name.strip()}, Age: {age.strip()}")

Updated data:
Name: Aniket, Age: 20
Name: Tejas, Age: 21
Name: Devashish, Age: 19
Name: Aditya, Age: 22
Name: Ojas, Age: 20
Name: Rohit, Age: 21
Name: Tejas, Age: 21
Name: Devashish, Age: 19
Name: Aditya, Age: 22
Name: Omkar, Age: 23